body {
  font-family: "Lato";
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;

}


.mesh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vh;
  height: 100vh;
  background-color: #419884;
}

.item {
  width: calc(100vh / 5);
  height: calc(100vh / 5);
}

.item-highlighted {
  border-radius: 5px;
  transition: all .5s ease-out;
  cursor: pointer;
}

.item-highlighted.item-highlighted-1 {
  background-color: #f2db63;
}

.item-highlighted.item-highlighted-2 {
  background-color: #cc4040;
}

.item-highlighted.item-highlighted-3 {
  background-color: #abce29;
}

.score {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 46px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc4040;
  color: #fff;
}
