.App {
  text-align: center;
}

.container {
  position: relative;
  padding: 10px 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.messageWrapper {
  display: flex;
  justify-content: flex-start;
  font-size: larger;
  margin-bottom: 10px;
}

.messageInfo {
  opacity: 0.5;
}

.form {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  font-size: large;
}

.form input:hover {
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.form ::placeholder {
  font-size: large;
  padding-left: 10px;
}

.formMessage input {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background: white;
  padding-left: 20px;
  width: 90%;
}