body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
}

.mesh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vh;
  height: 100vh;
  background-color: #419884;
}

.item {
  width: calc(100vh / 5);
  height: calc(100vh / 5);
}

.score {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 46px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc4040;
  color: #fff;
}
.time {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 46px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc4040;
  color: #fff;
}


.score-positive {
  background-color: #419884;
}

.score-negative {
  background-color: #cc4040;
}

.alert {
  position: fixed;
  font-size: 50px;
  color: white;
  width: 100vw;
  height: 100px;
  display: none;
  bottom: 0;
  line-height: 100px;
  text-align: center;
}

.alert-win {
  display: block;
  background-color: #abce29;
}

.alert-loss {
  display: block;
  background-color: #cc4040;
}
