body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
}

.mesh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vh;
  height: 100vh;
  background-color: #419884;
}

.item {
  width: calc(100vh / 5);
  height: calc(100vh / 5);
}

.item-highlighted {
  cursor: pointer;
}

.item-highlighted.item-highlighted-1 {
  background-color: #f2db63;
}

.item-highlighted.item-highlighted-2 {
  background-color: #cc4040;
}

.item-highlighted.item-highlighted-3 {
  background-color: #abce29;
}

.item-highlighted.item-highlighted-4 {
  background-color: #0004f9;
}

.item-highlighted.item-highlighted-5 {
  background-color: #e129cc;
}

.item-highlighted.item-highlighted-6 {
  background-color: #00e1fe;
}

.settings{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
}
.score  {
  /* position: relative;
  top: 5px;
  left: 5px; */
  font-size: 46px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc4040;
  color: #fff;
}

.positive-score{
  background-color: #009903;
}

.negative-score{
  background-color: #cc4040;
}

.type-game-add{
  display: none;
}

.type-game-add-active{
  display: block;
}