.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word + .word {
  margin-left: 20px;
}

.letter {
  padding: 30px;
  font-size: 42px;
}

.letter--hit {
  color: black;
}

.letter--unhit {
  color: pink;
}
