body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
}

.mesh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vh;
  height: 100vh;
  background-color: #1d1f1f;

}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1);
    border-radius: 50%;
  }
  100% {
    transform: scale(0.3);
    border-radius: 0;
  }
}

.item {
  width: calc(100vh / 5);
  height: calc(100vh / 5);
}


.item-highlighted {
  cursor: pointer;
  animation: scale 1s;
  transition: all 100ms ease-in;
}

.item-highlighted.item-highlighted-1 {
  background-color: #f2db63;
}

.item-highlighted.item-highlighted-2 {
  background-color: #cc4040;
}

.item-highlighted.item-highlighted-3 {
  background-color: #abce29;
}

.score {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 46px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc4040;
  color: #fff;
}

.popup {
  width: 300px;
  border: 1px solid #cc4040;
  padding: 10px 20px;
  background: #f2db63;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.btn {
  background: #cc4040;
  color: #f2db63;

  font-size: 20px;
}


