 body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  background: url('./forGameSnake.jpg')
 }

.mesh {
  display: grid;
  grid-template-columns: repeat(25, 1fr );
  width: 100vh;
  height: 100vh;
  border: 2px solid black;
  justify-content: center;
  background: linear-gradient(rgb(58, 144, 107), rgb(4, 30, 19)) 
}


.item {
  width: calc(100vh / 25);
  height: calc(100vh / 25);
}

.snakeBody {
  background: linear-gradient(to right, rgb(57, 66, 58), rgb(119, 131, 121)) ;
  background-size: cover;
  border-radius: 15%;
  border: 2px solid rgb(22, 33, 24);
}

.snakeHead {
  background: linear-gradient(rgb(61, 68, 62),rgb(1, 1, 1) );
  background-size: cover;
  border-radius: 20%;
  border: 2px solid rgb(22, 33, 24);
}

.food {
  background:linear-gradient(rgb(210, 40, 57), rgb(51, 6, 10)) ;
  border-radius: 50%;
  border: 1px solid black;
}

.score {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 46px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7caa8d;
  color: rgb(17, 39, 21);
}

.time {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 46px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7caa8d;
  color: rgb(17, 39, 21);
}

.alert {
  position: fixed;
  font-size: 50px;
  color: rgb(202, 198, 198);
  width: 100vw;
  height: 100px;
  display: none;
  bottom: 0;
  line-height: 100px;
  text-align: center;
}

.alert-win {
  display: block;
  background-color: #0f5b43;
}

.alert-loss {
  display: block;
  background-color: #6a2611;
}
